a:link, a:visited {
    text-decoration: none;
    text-decoration-color: black;
  }

body {
    background-color: rgb(223, 217, 217);
    background-image: url(../img/WitchingHour.jpg );
    background-size:cover;
}


.tituloen {
    Color:whitesmoke;
    font-family:Bebas Neue;
    font-size:70px;
    text-align: center;
    position:relative;

}
